<nav class="navbar navbar-expand-lg fixed-top navbar-custom" id="navbar" style="background-color: #1a1a1a;">
    <a class="collapse navbar-collapse" style="margin-left:5%" routerLink=""><i class="ti-angle-up" style="color:white;"></i></a>
    <a routerLink="" class="navbar-toggler" style="color: white;font-size:30px;margin-left:5px;"><img src="assets/images/urbancommunicationlogo.png" alt="Urbancom">Urbancom</a>
    <button class="navbar-toggler" type="button" routerLink="" style="margin-right:5px;color:white;" (click)="toggleMenu()">
        <span class="ti-angle-up"></span>
    </button>
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mx-auto" id="navbar-navlist">
                <li>
                </li>
                <li class="nav-item" id="navb">
                </li>
                <li class="nav-item" id="navb">
                </li>
                <li class="nav-item" id="navb">
                </li>
                <li class="nav-item ml-5">
                    <a routerLink="" class="collapse navbar-collapse" style="color: white;font-size:40px"><img src="assets/images/urbancommunicationlogo.png" alt="Urbancom">Urbancom</a>
                </li>
                <li class="nav-item" id="navb">
                </li>
                <li class="nav-item" id="navb">
                </li>
            </ul>
            <div>
                <ul class="text-right list-unstyled list-inline mb-0" style="margin-right: 30px;">
                    <li class="list-inline-item mb-1">
                        <a href="https://twitter.com/UOwnerr2"><img src="assets/images/twit.png" alt="" class="img-fluid mx-auto d-block"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/profile.php?id=100078063384775"><img src="assets/images/face.png" alt="" class="img-fluid mx-auto d-block"></a>
                    </li>
                    <li class="list-inline-item mb-1">
                        <a href="https://www.linkedin.com/company/urbancomagence/"><img src="assets/images/link.png" alt="" class="img-fluid mx-auto d-block"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/urban_communication22/"><img src="assets/images/ins.png" alt="" class="img-fluid mx-auto d-block"></a>
                    </li>
                    <li class="list-inline-item mb-1">
                        <a href="mailto: Agencemarketing@urbancommunication.net"><img src="assets/images/gmail.png" alt="" class="img-fluid mx-auto d-block"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.tiktok.com/@urban_com?lang=fr"><img src="assets/images/tik.png" alt="" class="img-fluid mx-auto d-block"></a>
                    </li>

                    <li class="list-inline-item mb-1">
                        <a href="https://www.behance.net/urbancommunication?tracking_source=search_users|urban%20communication"><img src="assets/images/beha.png" alt="" class="img-fluid mx-auto d-block"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>